@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500&display=swap');
body{
    background-color: #5A9CFF;
    margin: 0;
    font-family: 'Jura', sans-serif;
    color: white;
}
#logo{
    margin-top: 1%;
    font-size: 3vw;
    display: flex;
    justify-content: center;
}